body{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

img{
	width: 100%;
}

@font-face {
 font-family: elliot;
 src: url("font/ElliotSans-BoldItalic.eot") /* EOT file for IE */
}
@font-face {
 font-family: elliot;
 src: url("font/ElliotSans-BoldItalic.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: elliotbd;
 src: url("font/ElliotSans-Bold.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: elliotlt;
 src: url("font/ElliotSans-Light.ttf") /* TTF file for CSS3 browsers */
}


.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 15px 0;
    margin: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #84a86b;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    transition: all 2s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #84a86b;
    border-bottom: 2px solid #84a86b;
}

.top_banner{
	background: url("images/1.jpg");
	background-size:  cover;
	/*background-repeat: no-repeat; */
	margin: 0;
	box-sizing: border-box;
	background-attachment: fixed;
	/*height: 100vh;*/
	padding-bottom: 150px;
	position: relative;

}

.top_form{
	margin-top: 40%;
	/*background: white;*/
	/*padding: 50px;*/
	/*transform: skew(10deg, 12deg);*/
}

.border{
	border: 2px solid red;
}
.banner_text{
	margin-top: 25%;
	
	
}

.topimg{
	width: 50%;
}

.banner_text h1{
	font-family: elliot;
	text-shadow: 2px 2px 5px #84a86b;
    transform: rotate(-4deg);
}


.helper_text{
	color: white;
	margin: 0;
	font-size: 24px;
}

.main_text{
	color: white;
	margin: 0;
	font-size: 60px;
}

.btn-start{
	padding: 15px 65px;
	border: none;
	color: white;
	margin-top: 60px;
	background: #84a86b;
	box-sizing: border-box;
	cursor: pointer;
}

.btn-exchange{
	padding: 15px 65px;
	border: none;
	color: #84a86b;
	margin-top: 60px;
	background: white;
	/*border: 2px solid #84a86b;*/
	cursor: pointer;
	box-sizing: border-box;
}

.live_price{
	margin: 0;
	/*background: url('images/picture6_currency.jpg');*/
	/*background: url('images/lines.png'), #6fab2c;*/
	background-color: #91b37b;
    background-image: -webkit-linear-gradient(30deg, #91b37b 50%, #84a86b 50%);
	background-size: cover;
	/*opacity: 0.5;*/
	padding: 40px 0;
	/*transform: rotate(-15deg);*/
}

.live_price .container{
	/*transform: rotate(15deg);*/
}

.live_price h1{
	color: white;
	text-align: center;
	font-family: elliot;
}

.live_price p{
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	width: 80%;
	color: white;
	font-family: elliotlt;

}

.card{
	background: white;
	color: #84a86b;
	padding: 20px 10px;
	text-align: center;
	border-radius: 12px;
	box-shadow: inset 1px 0px 3px 2px #497d10;
}

.grey{
	background: #599e14;
	color: white;
	box-shadow: inset 1px 0px 3px 2px #497d10;
}

.navbar-brand img{
	/*display: inline-block;
    width: 30%;*/
}

.card h5{
	margin-bottom: 15px;
}

.card .ng{
	display: inline-block;
}

.card hr{
	margin: 10px;
}

.green{
	color: green;
}

.red{
	color: red;
}

.how_works{
	
    background: url("images/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
}


.work_img{
	padding: 100px 0;
}
.how_works h1,p{
	color: white;
	text-align: center;
	font-family: elliot;
}

.how_works p{
	font-size: 24px;
	font-family: elliotlt;
}

.how_works .item{
	margin-top: 40px;
	background: #84a86b;
	padding: 20px;
	box-sizing: border-box;
	border-left: 10px solid white;
}

.how_works .item h2{
	color: white;
	margin-bottom: 10px;
	font-family: elliot;
}


.how_works .item h5{
	color: white;
	width: 70%;
	font-weight: normal;
}


.footer{
	margin: 0;
	padding: 50px 0;
	color: #84a86b;
	background-size: cover;
    background-image: url(images/picture6_currency.jpg);
}

.footer h1{
	margin-bottom: 40px;
	font-family: elliot;
}

.footer ul{
	margin: 0;
	padding: 0;
}

.widget_section{
	padding: 50px 0;
	background-image: url(https://modeltheme.com/mt_bitcurrency/wp-content/uploads/2017/10/picture5_currency-2.jpg);
	background-size: cover;
	color: white;
	
}

.chart1{
	margin: 0 auto;
}

.foot {
	text-align: center;
}

.foot h1{
	font-family: elliotbd;
	margin-bottom: 0;
}

.foot p{
	color: grey;
}

.foot i{
	font-size: 28px;
	color: #478707;
}

.buy_section{
	background: #84a86b;
	/*height: 20px;*/
	margin-top: 100px;
}

.buy_section ul{
	list-style: none;
	margin: 0;
}

.buy_section ul li{
	display: inline-block;
	color: white;
	padding: 10px 15px;
}

.exchange_section{
	/*border: 2px solid ?red;*/
	margin-top: 100px;
	color: white;
	font-family: elliot;
}

select{
	width: 80%;
    background: transparent;
    border: 2px solid #84a86b;
    /* padding: 8px; */
    font-size: 31px;
    margin-top: 10px;
}

.promotion{
	margin: 50px auto;
}
































